/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
    text-transform: uppercase ;
}

/* COMMON */
body{
    background-color: rgb(112, 112, 112);
}

li{
    list-style: none;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-bottom: 4px solid rgb(112, 112, 112);
}

li:last-child{
    border-bottom:none
}

/* SLIDE */
#spesaContainer{
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
}

ul{
    background-color: white;
    width: 300px;
    border-radius: 40px;
    height: 300px;
    overflow-y: auto;
}

ul::-webkit-scrollbar {
    display: none;
    }

.form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.form input{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-size: 19px;
}

.form button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}